:root {
  --nav: #021F4A;
  --background: #010A18;
  --hightlight: #002C91;
  --error: #C41F31;
  --button: #76c893;
  --text: whitesmoke;
  --secondary-text: #82A09D;
  --cobalt: #0047A9;
  --sienna: #4E191C;
}
/* Home page -- CSS */
body {
  font-family: 'Urbanist', sans-serif;
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

nav {
  font-family: 'Urbanist', sans-serif;
  background-color: var(--nav);
  width: 100%;
  height: 10vh;
  color: var(--button);
}

.nav_container {
  width: 95%;
  margin: 0;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(9, 11vw);
  grid-template-rows: 1;
  grid-template-areas: 'brand . . . . . login signup logout';
  row-gap: 10px;
  align-content: center;
}


.nav_button_container {
  display: flex;
  width: 80px;
  height: 30px;
  justify-content: center;
  align-content: center;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
  background-color: none;
  transition-property: background-color;
  transition-duration: .4s;
}

.nav_button_container:hover {
  background-color: rgb(118, 200, 147, 0.2)
}

.nav_button {
  color: var(--button);
  text-decoration: none;
  font-size: 20px;
  align-self: center;
}

.nav_button:visited {
  color: var(--button);
}

.nav_user {
  grid-area: user;
}

.nav_brand {
  grid-area: brand;
  display: flex;
}

.nav_logo {
  display: flex;
  align-items: center;
  height: 75px;
  width: 75px;
}

.nav_name {
  display: flex;
  margin-top: 10px;
  align-items: center;
  font-weight: 800;
  font-size: 2em;
  color: var(--text);
}

.button_login {
  grid-area: login;
}

.button_signup {
  grid-area: signup;
}

.button_logout {
  grid-area: logout;
}


/* Carousel CSS */
.home_container_carousel {
  grid-template: 1fr;
}

.carousel_container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.carousel_images, img{
  width: 100%;
}

a.carousel_button_prev, a.carousel_button_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: var(--text);
  transition: .5 ease;
  user-select: none;
}

a.carousel_button_next {
  right: 0;
}

a.carousel_button_prev:hover, a.carousel_button_next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.home_container_title h1 {
  cursor: default;
  color: var(--text);
  font-weight: 700;
  margin: auto;
  padding: 50px;
  text-align: center;
  }
  

.home_container_content {
  cursor: default;
  display: flex;
  color: var(--text);
  margin: auto;
  padding: 0px 30px;
  justify-content: space-between;
}

.content h3 {
  cursor: default;
  color: var(--button);
  font-weight: 600;
  font-size: 1.5em;
  kerning: .5em;
}

.content h3:hover {
  color: var(--text);
}

.content{
  margin: 30px;
}