:root {
  --nav: #021F4A;
  --background: #010A18;
  --hightlight: #002C91;
  --error: #C41F31;
  --button: #76c893;
  --text: whitesmoke;
  --secondary-text: #82A09D;
  --cobalt: #0047A9;
  --sienna: #4E191C;
}

body {
  font-family: 'josefin sans', sans-serif;
}

nav {
  font-family: 'josefin sans', sans-serif;
}
<<<<<<< HEAD

.carousel_container {
  position: relative;
  margin: auto;
}

.carousel_images{
  display: none;
}

a.carousel_button_prev, a.carousel_button_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22;
  padding: 16px;
  color: var(--text);
  transition: .5 ease;
  user-select: none;
}
=======
>>>>>>> dev
