:root {
  --nav: #021f4a;
  --background: #010a18;
  --hightlight: #002c91;
  --error: #c41f31;
  --button: #76c893;
  --text: whitesmoke;
  --secondary-text: #82a09d;
  --cobalt: #0047a9;
  --sienna: #4e191c;
}
/* Home Page -- CSS */
body {
  font-family: 'Urbanist', sans-serif;
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

nav {
  font-family: 'Urbanist', sans-serif;
  background-color: var(--nav);
  width: 100%;
  height: 10vh;
  color: var(--button);
}

.nav_container {
  width: 95%;
  height: 10vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(9, 11vw);
  grid-template-rows: 1;
  grid-template-areas: 'brand . . . . . box0 box1 box2';
  row-gap: 10px;
  align-items: center;
}


.nav_button_container {
  display: flex;
  width: 80px;
  height: 30px;
  justify-content: center;
  align-content: center;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
  background-color: none;
  transition-property: background-color;
  transition-duration: .4s;
}

.nav_button_container:hover {
  background-color: rgb(118, 200, 147, 0.2)
}

.nav_button {
  color: var(--button);
  text-decoration: none;
  font-size: 20px;
  align-items: center;
}

.nav_button:visited {
  color: var(--button);
}


.nav_brand {
  grid-area: brand;
  display: flex;
}

.nav_logo {
  display: flex;
  align-items: center;
  height: 75px;
  width: 75px;
}

.nav_name {
  display: flex;
  margin-top: 10px;
  align-items: center;
  font-weight: 800;
  font-size: 2em;
  color: var(--text);
}

.button_login {
  grid-area: box1;
}

.button_signup {
  grid-area: box2;
}
.button_user {
  grid-area: box1;
}

.button_logout {
  grid-area: box2;
}


/* MODAL for LOGIN and Sign up */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
.modal.modal-open {
  visibility: visible;
  backface-visibility: visible;
  opacity: 1;
  z-index: 1;
}
.modal .modal-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal-inner .modal-content {
  background-color: whitesmoke;
  max-width: 38em;
  padding: 1em 1.5em;
  position: relative;
  margin: 2em;
  box-shadow: 0px 0px 10px 0px var(--background);
}
.modal .modal-inner .modal-content .modal-close-icon {
  position: absolute;
  right: 1.5em;
}
.modal .modal-inner .modal-content .modal-content-inner {
  padding-right: 2em;
}
.modal .modal-inner .modal-content .modal-content-inner h1,
.modal .modal-inner .modal-content .modal-content-inner h2,
.modal .modal-inner .modal-content .modal-content-inner h3,
.modal .modal-inner .modal-content .modal-content-inner h4,
.modal .modal-inner .modal-content .modal-content-inner h5,
.modal .modal-inner .modal-content .modal-content-inner h6 {
  margin-bottom: 0.25em;
}
.modal .modal-inner .modal-content .modal-content-inner p {
  margin-bottom: 1em;
}
.modal .modal-inner .modal-content .modal-buttons-seperator {
  margin: 1.5em 0;
  margin-top: 0;
}
.modal .modal-inner .modal-content .modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.modal .modal-inner .modal-content .modal-buttons button {
  margin-left: 1em;
}
.modal .modal-inner .modal-content .modal-buttons button:first-child {
  margin-left: 0;
}

/* Carousel CSS */
.home_container_carousel {
  grid-template: 1fr;
}

.carousel_container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.carousel_images, img{
  width: 100%;
}

a.carousel_button_prev, a.carousel_button_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: var(--text);
  transition: .5 ease;
  user-select: none;
}

a.carousel_button_next {
  right: 0;
}

a.carousel_button_prev:hover, a.carousel_button_next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.home_container_title h1 {
  cursor: default;
  color: var(--text);
  font-weight: 700;
  margin: auto;
  padding: 50px;
  text-align: center;
  }
  

.home_container_content {
  cursor: default;
  display: flex;
  color: var(--text);
  margin: auto;
  padding: 0px 30px;
  justify-content: space-between;
}

.content h3 {
  cursor: default;
  color: var(--button);
  font-weight: 600;
  font-size: 1.5em;
  kerning: .5em;
}

.content h3:hover {
  color: var(--text);
}

.content{
  margin: 30px;
}

.pic_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--button)
}

.button_city_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.profile_pic {
  width: 400px;
  height: 400px;
  border-radius: 15%;
  border: 2px solid var(--cobalt);
  box-shadow: 5px 5px 5px 1px var(--cobalt);
}

.user_name {
  color: var(--button);
}

.current_city {
  color: var(--cobalt);
}

.profile_join {
  font-size: 15px;
  color: var(--secondary-text);
  font-weight: 400;
  letter-spacing: .5px;
}

.update_button {
  background-color: var(--button)
}

/* .profile_post_container {
  height: 90vh;
  width: 30vw;
  background-color: var(--cobalt);
  
} */
.profile_join {
  font-size: 15px;
  color: var(--secondary-text);
  font-weight: 400;
  letter-spacing: .5px;
}

.individual_post_container {
  background-color: var(--nav);
  border: 2px solid var(--button);
  margin: 5px 0 5px 0;
  border-radius: 20px;
  width: 40rem;
}

.profile_post_date {
  color: var(--text);
  padding-left: 30px;
}

.profile_post_image {
  width: 20rem;
  height: 15rem;
  margin-left: 30px;
  border-radius: 20px;
}

.profile_post_title {
  width: 250px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 30px;
  color: var(--button);
  transition: .2s linear;
  border-radius: 20px;
}

.profile_post_title:hover {
  transform: scale(1.2);
  border-radius: 20px;
  box-shadow:
  0 0 50px #fff,            
  -10px 0 80px rgb(0, 123, 255),        
  10px 0 80px #0ff;  

}

.profile_post {
  color: var(--text);
  padding-left: 30px;
}

.post {
  color: var(--button);
  height: 500px;
  width: 650px;
  margin-top: 50px;
  background-color: var(--nav);
  border: 1px solid var(--secondary-text);
  border-radius: 2px;
  box-shadow: 5px 5px 5px 1px rgba(0, 255, 0, 0.2);
  color: var(--text);
}

.post_detail_container {
  margin: auto;
  height: 500px;
  width: 650px;
  margin-top: 75px;
  background: radial-gradient(circle, #002c91, #021f4a);
  /* border: 1px solid var(--nav); */
  border-radius: 10px;
  /* box-shadow: 2px 1px 2px 2px rgba(255, 255, 255, 0.1); */
  box-shadow:
  0 0 50px #fff,            /* outer white */
  -10px 0 80px rgb(0, 123, 255),        /* outer left magenta */
  10px 0 80px #0ff;         /* outer right cyan */
  color: var(--text);
  grid-template-columns: repeat(8, 1fr);
}

.post_detail_header {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: repeat(8, 1fr);
  background: var(--nav);
  border-radius: 10px 10px 2px 2px;
}

.post_detail_header img {
  border: 1px solid var(--text);
  margin: 20px 20px;
  width: 75px;
  border-radius: 2px;
}

.post_detail_header h3 {
  grid-column: 2 / 5;
  align-self: center;
  margin-top: 25px;
  font-size: 2em;
  text-decoration: none;
}

.post_detail_header button {
  align-self: center;
  grid-column: 8 / 9;
  margin-left: 30px;
  border: none;
}

.post_detail_header i {
  color: var(--text);
}

.post_detail_username h3{
  text-decoration: none;
}

.post_detail_content {
  margin: 20px;
  grid-column: 1 / 9;
}

.post_detail_content h6, span {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

h6, span {
  font-weight: 400;
}

/* profile update CSS */
.container_update{
  display:flex;
  justify-content: center;
  align-content: center;
}
.container_background{
  position: absolute;
  padding: 0;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1519214605650-76a613ee3245?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2549&q=80);
  background-position: center;
  filter: blur(8px);
  height: 90vh;
  width: 100%;
  z-index: -1;
}

.container_form{
  /* position:absolute;
  top:20%;
  left:20%; */
  padding:5rem;
  margin:5rem;
  z-index: 99999999999999;
  border-radius: 5px;
  box-shadow: 5px 3px 3px var(--hightlight);
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  justify-content: center;
  max-width: 200rem;
  max-height:40vh;
  border-radius: 2px;
  align-self: center;
}

.post_delete {
  color: var(--nav);
  font-size: 1.5em;
  margin: 10px;
}

div.delete_button {
  margin: 20px 10px -20px 10px;
  display: flex;
}

.delete_cancel {
  margin-left: 10px;
}

.delete_cancel_button {
  text-decoration: none;
  color: var(--cobalt);
}

/* city detail css */
.city_post{
  background-color: var(--background);
  min-height: 90vh;
  padding: 20px;
}

.city_card{
  padding: 5rem;
}
.city_card:hover{
  background-color: var(--button);
}
.city_section_list{
  background-color: var(--hightlight);
  color: var(--text);
  max-height: 100vh;
  padding: 10px;
}
.city_header_selection{
  padding-left: 5rem;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}
.city_name{
  text-align: center;
  padding-top: 2rem;
}
.post_section{
  background-color: #021531;
  color: var(--text);
  padding: 20px;
  max-height:93.5vh;
  overflow: auto;
}
.post_section::-webkit-scrollbar{
  width: 12px;
}
.post_section::-webkit-scrollbar-track{
  background: #021531;
}
.post_section::-webkit-scrollbar-thumb{
  background-color: var(--button);
  border-radius: 20px;
  border: 3px solid var(--button);
}

.post_wrapper{
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index:1;
  float: left;
}
.post_content{
  height:100%;
  padding:0 32px 0 0;
  position: relative;
  right: -18px;
  overflow: auto;
  box-sizing: border-box;
}
.post_content_scroll{
  position: relative;
  width: 9px;
  border-radius:4px;
  top:0;
  z-index:2;
  cursor: pointer;
  transition: opacity 0.25s linear;
}
.post_section:hover .post_content_scroll{
  opacity: 1;
}



/* CSS for City Indexs */

.three.columns.city_index_img {
  height: 20rem;
  width: 35rem;
  margin: 10px;
  border-radius: 5%;
  box-shadow: 2px 2px 2px 1px var(--cobalt);
} 

.city_index {
  background-color: var(--background);
  padding: 10px;
}

.city_header_index {
  padding-left: 80px;
}

.six.columns.city_section {
  background-color: var(--nav);
  color: whitesmoke;
}

.six.columns.post_section {
  background-color: var(--cobalt);
  color: var(--text);
}

/* Scroll Bar CSS */
body::-webkit-scrollbar{
  width: 12px;
}
body::-webkit-scrollbar-track{
  background: var(--nav);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--button);
  border-radius: 20px;
  border: 3px solid var(--button);
}