:root {
  --nav: #021f4a;
  --background: #010a18;
  --hightlight: #002c91;
  --error: #c41f31;
  --button: #76c893;
  --text: whitesmoke;
  --secondary-text: #82a09d;
  --cobalt: #0047a9;
  --sienna: #4e191c;
}
/* Home Page -- CSS */
body {
  font-family: 'Urbanist', sans-serif;
  background-color: var(--background);
}

nav {
  font-family: 'Urbanist', sans-serif;
  background-color: var(--nav);
  width: 100%;
  height: 10vh;
  color: var(--button);
}

.nav_container {
  width: 95%;
  height: 10vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(9, 11vw);
  grid-template-rows: 1;
  grid-template-areas: 'brand . . . . . user login signup logout';
  row-gap: 10px;
  align-items: center;
}


.nav_button_container {
  display: flex;
  width: 80px;
  height: 30px;
  justify-content: center;
  align-content: center;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
  background-color: none;
  transition-property: background-color;
  transition-duration: .4s;
}

.nav_button_container:hover {
  background-color: rgb(118, 200, 147, 0.2)
}

.nav_button {
  color: var(--button);
  text-decoration: none;
  font-size: 20px;
  align-items: center;
}

.nav_button:visited {
  color: var(--button);
}

.nav_user {
  grid-area: user;
}

.nav_brand {
  grid-area: brand;
  display: flex;
}

.nav_logo {
  display: flex;
  align-items: center;
  height: 75px;
  width: 75px;
}

.nav_name {
  display: flex;
  margin-top: 10px;
  align-items: center;
  font-weight: 800;
  font-size: 2em;
  color: var(--text);
}

.button_login {
  grid-area: login;
}

.button_signup {
  grid-area: signup;
}

.button_logout {
  grid-area: logout;
}

.button_user {
  grid-area: user;
}

/* MODAL for LOGIN and Sign up */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
.modal.modal-open {
  visibility: visible;
  backface-visibility: visible;
  opacity: 1;
  z-index: 1;
}
.modal .modal-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal-inner .modal-content {
  background-color: whitesmoke;
  max-width: 38em;
  padding: 1em 1.5em;
  position: relative;
  margin: 2em;
  box-shadow: 0px 0px 10px 0px var(--background);
}
.modal .modal-inner .modal-content .modal-close-icon {
  position: absolute;
  right: 1.5em;
}
.modal .modal-inner .modal-content .modal-content-inner {
  padding-right: 2em;
}
.modal .modal-inner .modal-content .modal-content-inner h1,
.modal .modal-inner .modal-content .modal-content-inner h2,
.modal .modal-inner .modal-content .modal-content-inner h3,
.modal .modal-inner .modal-content .modal-content-inner h4,
.modal .modal-inner .modal-content .modal-content-inner h5,
.modal .modal-inner .modal-content .modal-content-inner h6 {
  margin-bottom: 0.25em;
}
.modal .modal-inner .modal-content .modal-content-inner p {
  margin-bottom: 1em;
}
.modal .modal-inner .modal-content .modal-buttons-seperator {
  margin: 1.5em 0;
  margin-top: 0;
}
.modal .modal-inner .modal-content .modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.modal .modal-inner .modal-content .modal-buttons button {
  margin-left: 1em;
}
.modal .modal-inner .modal-content .modal-buttons button:first-child {
  margin-left: 0;
}

/* Carousel CSS */
.home_container_carousel {
  grid-template: 1fr;
}

.carousel_container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.carousel_images, img{
  width: 100%;
}

a.carousel_button_prev, a.carousel_button_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: var(--text);
  transition: .5 ease;
  user-select: none;
}

a.carousel_button_next {
  right: 0;
}

a.carousel_button_prev:hover, a.carousel_button_next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.home_container_title h1 {
  cursor: default;
  color: var(--text);
  font-weight: 700;
  margin: auto;
  padding: 50px;
  text-align: center;
  }
  

.home_container_content {
  cursor: default;
  display: flex;
  color: var(--text);
  margin: auto;
  padding: 0px 30px;
  justify-content: space-between;
}

.content h3 {
  cursor: default;
  color: var(--button);
  font-weight: 600;
  font-size: 1.5em;
  kerning: .5em;
}

.content h3:hover {
  color: var(--text);
}

.content{
  margin: 30px;
}

.post_detail_container {
  margin: auto;
  height: 500px;
  width: 650px;
  margin-top: 50px;
  background-color: var(--nav);
  border: 1px solid var(--secondary-text);
  border-radius: 2px;
  box-shadow: 5px 5px 5px 1px rgba(0, 255, 0, 0.2);
  color: var(--text);
}

.post_detail_header {
  display: flex;
}

.post_detail_header img {
  border: 2px solid var(--text);
  width: 75px;
}