{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<h1 class="meet_the_team">Meet the team</h1>
<div class="team_container">
  <div class="team_member exec">
    <img class="team_image" src="/static/assets/Exec.JPG" alt="Allen Pic" />
    <p class="team_info">Graduating from Computer Engineering Technology and previously work as a Avionic Technician. Allen has been interested learning programming and web development. From his previous job, Allen has experiences with troubleshooting, critical thinking and problem solving. In addition, his love with <a class="link_style" href="https://www.geearen.com/">Film and Digital Photography </a> enables him to build captivating website.</p>
  </div>
  <div class="name_container exec_name">
    <p class="about_name">Allen Gonzales</p>
    <div class="git-container">
      <a class="git" href="https://github.com/geearen">GitHub</a>
    </div>
    <div class="linkedin-container">
      <a class="linkedin" href="https://www.linkedin.com/in/allen-gee/">LinkedIn</a>
    </div>
  </div>

  <div class="team_member court">
    <img class="team_image" src="/static/assets/Court.jpeg" alt="Courtney Pic" />
    <p class="team_info">After a decade working in education, Courtney found his way to web development through the tech classes he was hired to teach. With a passion for problem-solving and a love for teamwork, Courtney continues to hone his abilities and knowledge of technologies. He also enjoys recording and performing soulful <a class="link_style" href="https://open.spotify.com/artist/2YP16ETiEn8IdVESr24Lob?si=UaOeBLZQTl6YMTr19fffQQ&dl_branch=1">tunes</a> with his various bands in and around Los Angeles.</p>
  </div>
  <div class="name_container court_name">
    <p class="about_name">Courtney Kakebeen</p>
    <div class="git-container">
      <a class="git" href="https://github.com/LAsoul88">GitHub</a>
    </div>
    <div class="linkedin-container">
      <a class="linkedin" href="https://www.linkedin.com/in/courtneykakebeen/">LinkedIn</a>
    </div>
  </div>

  <div class="team_member jenny">
    <img class="team_image" src="/static/assets/Jenny.jpg" alt="Jennifer Pic" />
    <p class="team_info">With a background in graphic design and project management for </p>
  </div>
  <div class="name_container jenny_name">
    <p class="about_name">Jennifer Goldberg</p>
    <div class="git-container">
      <a class="git" href="https://github.com/jennifergoldberg">GitHub</a>
    </div>
    <div class="linkedin-container">
      <a class="linkedin" href="https://www.linkedin.com/in/jennifer-goldberg/">LinkedIn</a>
    </div>
  </div>

  <div class="team_member tev">
    <img class="team_image" src="/static/assets/Tev.png" alt="Tevenn Pic" />
    <p class="team_info">Primarily working in the fitness industry before making his way to Wayfarer, Tevenn took a less conventional route into tech by joining an immersive bootcamp. With a strong afinity for collaboration and self/ team improvement, Tevenn embraces his role here at Wayfarer and continues to learn every day.</p>
  </div>
  <div class="name_container tev_name">
    <p class="about_name">Tevenn Lewis</p>
    <div class="git-container">
      <a class="git" href="https://github.com/TevennLewis">GitHub</a>
    </div>
    <div class="linkedin-container">
      <a class="linkedin" href="https://www.linkedin.com/in/tevenn-lewis/">LinkedIn</a>
    </div>
  </div>

</div>

{% endblock %}