{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<h1>Meet the team</h1>

<div class="team_member">
  <img class="team_image" src="" alt="Allen Pic" />
  <p class="team_info"></p>
</div>

<div class="team_member">
  <img class="team_image" src="/static/assets/Court.jpeg" alt="Courtney Pic" />
  <p class="team_info"></p>
</div>

<div class="team_member">
  <img class="team_image" src="" alt="Jennifer Pic" />
  <p class="team_info"></p>
</div>

<div class="team_member">
  <img class="team_image" src="" alt="Tevenn Pic" />
  <p class="team_info"></p>
</div>

{% endblock %}