{% extends 'base.html' %}
{% block content %}

  <h1 class="user_name">{{profile.user}}</h1>
  
<div class="profile_all">
  <div class="pic_container">
    <img class='profile_pic' src="{{profile.profile_img}}" alt="">
  </div>
  <div class="button_city_container">
  <h3 class="current_city">{{profile.current_city}}</h3>
  <p class="first_last_name">{{user.first_name}} {{user.last_name}}</p>
  <p class="profile_email">{{user.email}}</p>
  <h3 class="profile_join"><strong>Member Since:</strong> {{user.date_joined}}</h3>
  <a href="{% url 'profile_update' profile.user.pk %}">
    <button class="update_button">Update Profile</button>
  </a>
  </div>
  <div class="profile_post_container">
    {% for post in profile.posts.all %}

    <div class="individual_post_container">

    <a href="{% url 'post_detail' post.pk %}">
      <h4 class="profile_post_title">{{post.title}}</h4>
    </a>
    <p class = "profile_post_date">{{post.post_date}}</p>
    <p class="profile_post">{{post.tips}}</p>
    <img class="profile_post_image" src="{{post.post_image}}" alt="">
    </div>
    {% empty %}

    {% endfor %}

    
  </div>
  
</div>
{% endblock %}