{% extends 'base.html' %} 
{% block content %}

<form>
  <div>
    <div>
      <input class="input" type="text" name="title" placeholder="find a post..." />
    </div>
    <div>
      <input class="button" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'city_detail' city.pk %}">Clear Search</a>
</form>

<div class="city_post">
  <div class="row">

    <div class="four columns city_section_list">
      <h1 class="city_header_selection">Cities</h1>
      
      {% for city in cities %}
      <div class="container city_card">
        <div class="row">
          <a href="{% url 'city_detail' city.pk %}">
            <img
              class="seven columns city_index_img"
              src="{{city.city_image}}"
              alt="city_image"
            />
          </a>
          <div class="five columns">
            <h3 class= "city_name">{{city.city_name}}</h3>
          </div>
        </div>
      </div>
      {% empty %} {% endfor %}
    </div>


    <div class="eight columns post_section">
      <div class="post_wrapper">
        <div class="post_content">
            <section class="row top_post">
              <div class="three columns post_city_header">
                <h2>{{city.city_name}},</h2>
                <h4>{{city.country}}</h4>
              </div>
              <div class="four columns city_image">
                <img src="{{city.city_image}}" alt="city_image">
              </div>
            </section>
            
            <h1 class="post_header_index">Posts</h1>
            {% for post in city.posts.all %}
            <div class="container post_card">
                <div class="post_header">
                  <h4>{{post.title}} <span class ="post_author"> by {{post.profile.user}}</span> </h4>
                </div>

                  
                    
                  <div class="row post_content">
                      <div class="two columns">
                        <img src="{{post.post_image}}" alt="post_image" />
                      </div>
                      <div class="six columns">
                        <p>{{post.tips}}</p>
                        <p>{{post.post_date}}</p>
                      </div>
                  </div>
            </div>
            {% empty %} {% endfor %}
        </div>
      </div>
        <div class="post_content_scroll"></div>
    </div>

  </div>
</div>
{% endblock %}
