{% extends 'base.html' %} 
{% block content %}

<form>
  <div>
    <divn class="search_area">
      <input class="input" type="text" name="title" placeholder="find a post..." />
    </div>
    <div class="search_buttons">
      <input class="button" type="submit" value="Search" />
    </div>
  </div>
</form>

<div class="city_post">
  <div class="row">

    <div class="four columns city_section_list">
      <h1 class="city_header_selection">Cities</h1>
      
      {% for city in cities %}
      <div class="container city_card">
        <div class="row">
          <a href="{% url 'city_detail' city.pk %}">
            <img
              class="seven columns city_index_img"
              src="{{city.city_image}}"
              alt="city_image"
            />
          </a>
          <div class="five columns">
            <h3 class= "city_name">{{city.city_name}}</h3>
          </div>
        </div>
      </div>
      {% empty %} {% endfor %}
    </div>


    <div class="eight columns post_section">
      <div class="post_wrapper">
        <div class="post_content">

            <section class="row top_post">
              <div class="five columns post_city_header">
                <h2>{{city.city_name}},</h2>
                <h4>{{city.country}}</h4>
              </div>
              <div class="four columns city_image">
                <img src="{{city.city_image}}" alt="city_image">
              </div>
            </section>
            
            <div class="row post_row">
              <div class="nine columns">
                <h1 class="post_header_index">Posts</h1>
              </div>
              <div class="three columns icon_plus">
                <a class="open-modal" >
                  <i class="fas fa-plus-circle fa-2x"></i>
                </a>
              </div>
            </div>
            {% for post in city.posts.all %}
            <div class="city_post_container">
              <a class="link_style" href="{% url 'post_detail' post.pk %}"><h3>{{post.title}}</h3></a>
              <h6><span>Posted by: {{post.profile.user}}<br>{{post.post_date}}</span></h6>

    
              <img src="{{post.post_image}}" alt="post_image">
              <p class="post_tips_truncate city_tips">{{post.tips}}</p>
              <button class="post_tips_button">read more</button> 
            </div>
            {% empty %} {% endfor %}
          <br>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="modal">
  <div class="modal-inner">

    <div class="modal-content">
      <div class="modal-close-icon">
        <a href="javscript:void(0)" class="close-modal">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>

      <div class="modal-content-inner">
        <h4>Create a new post!</h4>
      </div>

      <hr class="modal-buttons-seperator">

        <form method="post" action="{% url 'post_create' city.pk %}">
          {% csrf_token %}
          <p>
            <label for="id_title">Title:</label> 
            <input type="text" name="title" maxlength="150" required id="id_title">
          </p>
          <p>
            <label for="id_tips">Tips:</label> 
            <textarea name="tips" cols="40" rows="10" maxlength="10000" required id="id_tips"></textarea>
          </p>
          <p>
          <label for="id_post_image">Post image:</label> 
          <input type="text" name="post_image" maxlength="1000" id="id_post_image"></p>
          <p><label for="id_city">City:</label> 
          <select name="city" required id="id_city">
            <option value="" selected>---------</option>
            {% for city in cities %}
            <option value="{{city.pk}}">{{city.city_name}}</option>
            
            {% empty %}
            {% endfor %}
          <input class="" type="submit" value="Submit" />
          
        </form> 
        {% comment %} <form method="post" >
          {% csrf_token %}
          {{p_form.as_p}}
          {{c_form.as_p}}

          <input class="" type="submit" value="Submit" />
        </form> {% endcomment %}

    </div>
  </div>
</div>
{% endblock %}
