{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<main>
<div class="home_container_carousel">
  <div class="carousel_container">
  {% comment %} {% for city in cities %}
    <div class="carousel_images fade">
      <img src="{{city.city_image}}" alt="cities at night">
    </div>
  {% endfor %}  {% endcomment %}
  {% comment %} <div class="carousel_images fade">
    <img src="https://images.unsplash.com/photo-1523590564318-491748f70ea7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
    <img src="https://images.unsplash.com/photo-1527251672045-a80241b3f574?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
    <img src="https://images.unsplash.com/photo-1431102996501-f6379b157668?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
    <img src="https://images.unsplash.com/photo-1602775112551-fa7515719bf6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
  </div> {% endcomment %}

  <div class="carousel_images fade">
    <img src="/static/assets/Carosel.png" alt="">
  </div>

    <div class="carousel_button">
      <a id="carousel_button_left" class="carousel_button_prev">&#10094;</a>
      <a id="carousel_button_right" class="carousel_button_next">&#10095;</a>
    </div> 
  </div>

</div>

<div class="home_container_title">
  <h1>Wayfarer is . . .</h1>
</div>

<div class="home_container_content">
  <div class="content">
    <h3>A Gateway Into the Nightlife</h3>
    <p>On Wayfarer, you can create a profile and post your nightlife experiences for your favorite vacation spots or anywhere you just like to kick back and have a good time.</p>
  </div>
    <div class="content">
    <h3>Your Guide to the Hottest Spots</h3>
    <p>Struggling to find a cool spot for a late night hang out? Hop on to our posts page and find out which places are poppin off near your current location!</p>
  </div>
    <div class="content">
    <h3>A Chill Space to Share Experiences</h3>
    <p>Ever have the best night of your life and just wanna shout it out for everyone to hear? Make a post about it so all the Wayfarer community can check it out when they visit.</p>
  </div>

</div>
</main>

{% endblock %}