{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
{% comment %} <aside>
{% for city in cities %}
<div class="city_container">
  <button class="city_button">
    <p>{{ city.city_name }}</p>
  </button>
</div>
</aside>
{% endfor %} {% endcomment %}
<div class="post_detail_container">

  <div class="post_detail_header">
    <img src="{{profile.image}}https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="">
    <h3>{{user.username}}</h3>
    <i class="fas fa-bars"></i>
  </div>
  
  <p>{{post.title}}</p>



  
  <p>{{profile.current_city}}</p>






</div>

{% endblock %}